mixin serciveCard(data)
  .services__item
    .services__body
      .services__img
        picture
          source(media="(min-width: 1216px)" srcset="__static__img/content/" + data.img + '.jpg')
          if data.imgTablet
            source(media="(min-width: 768px)" srcset="__static__img/content/" + data.imgTablet + '.jpg')
          img(src="__static__img/content/" + data.img + '.jpg' alt=data.alt)
      .services__title-card
        h3.services__name !{data.title}
    .services__hover
      .services__hover-inner
        a(href="#doctors").anchor.services__button.button.button--primary Врачи
        if data.anchor
          a(href="#price").anchor.services__button.button.button--outline #{data.btnText}
        else
          a(href="#").services__button.button.button--outline #{data.btnText}
mixin services(data)
  section.services
    .container
      h2.services__title.title-large !{data.title}
      .subtitle
        p.services__subtitle.expand-more.js-expand-more !{data.subtitle}

      div(role="list").row
        each item in data.list
          div(role="listitem").col-md-6.col-xl-3
            +serciveCard(item)
